.page-form-client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.page-form-client .title{
    color: #fff;
    font-size: 40px;
}

.page-form-client .form{
    display: flex;
    flex-direction: column;
    border: 3px solid #eefa48;
    background-color: #000000ab;
    padding: 30px;
    margin: 50px;
    gap: 20px;
    width: 400px;
    border-radius: 20px;
    color: #fff;
}

.page-form-client .form .input{
    height: 30px;
    background: none;
    border: none;
    border-bottom: 3px solid #eefa48;
    color: #fff;
}

.page-form-client .form .button{
    background-color: #47ff50;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.page-form-client .form .leabel{
    font-size: 20px;
}